[Unit]
Description=RemLink Server Service
Documentation=https://github.com/wsczx/RemLink
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/remlink-deploy
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/remlink-deploy/remlink

# systemctl --version

# systemd older than v236
# ExecStart=/bin/bash -c 'exec /usr/local/remlink-deploy/remlink >> /usr/local/remlink-deploy/log/remlink.log 2>&1'

# systemd new than v236
# StandardOutput=file:/usr/local/remlink-deploy/log/remlink-systemd.log
# StandardError=file:/usr/local/remlink-deploy/log/remlink-systemd.log

[Install]
WantedBy=multi-user.target
